.tableContainer{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pagination-bar{
    margih-left:300px;
}

.actionRow {
    margin-left: 1%;
    width: 10px;
    background-color: #fff;
      
}