body{
    background-color: #191919;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #000;
}

.textField_label{
    color:#191919 !important;
    border-color: #191919 !important;
}

.logo{
    height: 50px;
    width: 50px;
}