body{
    background-color: #191919;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #000;
    overflow-x: hidden;
}

.textField_label{
    color:#191919 !important;
    border-color: #191919 !important;
}

.logo{
    height: 50px;
    width: 50px;
}

#particles{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}